.content {
  font-size: 1rem;
}

.content p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.content a {
  color: blue;
}

.content ul {
  margin-left: 20px;
  list-style-type: circle;
}

.content img {
  border: 1px solid #edf2f7;
}
